
<html>
{% block head %}
<head>
<title>API Documentation</title>

<link rel="stylesheet" href="{{url_for('static', filename='css/equal.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> 

<!--<link rel="stylesheet" href=" https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">-->
<link rel="stylesheet" href="https://unpkg.com/boxicons@lastest/css/boxicons.min.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">

</head>
{% endblock %}

{% block body %}
<header>
  <a href="#" class="logo"><i class="ri-home-4-fill"></i><span>Arttdev</span>
  </a>
  <ul class="navbar">
    <li><a href="index.html">Inicio</a></li>
    <li><a href="api.html"></a>{{current_user.username}}</li>
    <li><a href="about.html">Informacion</a></li>
    <li><a href="contact.html">Soporte</a></li>

  </ul>

  <div id="main">
    <a href="login/login.html" class="user"><i></i>Sign in<a>
      <a href="">Register</a>
     
      <div id="bx bx-menu" id="menu-icon"></div>
  </div>
  <div id="search" class="search">
    
    <input id="search" type="text" class="form-control" placeholder="Busqueda"><i class="ri-search-line"></i> </input>
      

      

  </div>
</header>   
  <div class="slide">
    <div class="slide-inner">
        <input class="slide-open" type="radio" id="slide-1" 
              name="slide" aria-hidden="true" hidden="" checked="checked">
        <div class="slide-item">
            <img src="{{url_for('static', filename='media/Envio.png')}}"> 
              
        </div>
        <input class="slide-open" type="radio" id="slide-2" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src=" {{url_for('static', filename='media/fashion discount.png') }}">
            
        </div>
        <input class="slide-open" type="radio" id="slide-3" 
              name="slide" aria-hidden="true" hidden="">
        <div class="slide-item">
            <img src="{{url_for('static', filename='media/game.svg') }}">
        </div>
        <label for="slide-3" class="slide-control prev control-1">‹</label>
        <label for="slide-2" class="slide-control next control-1">›</label>
        <label for="slide-1" class="slide-control prev control-2">‹</label>
        <label for="slide-3" class="slide-control next control-2">›</label>
        <label for="slide-2" class="slide-control prev control-3">‹</label>
        <label for="slide-1" class="slide-control next control-3">›</label>
        <ol class="slide-indicador">
            <li>
                <label for="slide-1" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-2" class="slide-circulo">•</label>
            </li>
            <li>
                <label for="slide-3" class="slide-circulo">•</label>
            </li>
        </ol>
    </div>
</div>


<div id="app" class="content">
<div class="tarjeta" >
</div>
</div>
</div>
<footer>
<div class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h1 class="logo-text"><span>Arttdev</span></h1>
      <p>
        Arttdev es una empresa que se dedica a la creacion de paginas web, aplicaciones y mas.
      </p>
      <div class="contact">
        <span><i class="ri-phone-line"></i> &nbsp; 123-456-789</span>
        <span><i class="ri-mail-line"></i> &nbsp;
 


</div>
</footer>

{% endblock %}

{% block scripts %}
<script src="test.js"></script>
<script src="{{url_for('static', filename='js/test.js')}}"></script>} 
 "></script>

{% endblock %}




</html>                
